---
---

@import "base";

/*
* Style Layout
*/


.clear {
  clear: both;
  height: 0px;
}

.border {
  border: 1px solid $border !important;
  clear: both;
}
.border-bottom {
  border-bottom: solid 1px $border !important;
}
.border-top {
  border-bottom: solid 1px $border !important;
}
.border-left {
  border-left: solid 1px $pink !important;
}


.break {
  border-bottom: 2px solid $theme-color !important;
  margin: $base-line-height 0;
}

.inset {
  padding: $base-line-height;
  margin: $base-line-height;
  border: solid 1px $border;
  clear: both;
}

.padding {
  padding: $base-line-height;
}
.padding-top {
  padding-top: $base-line-height;
}
.padding-bottom {
  padding-bottom: $base-line-height !important;
}
.padding-left {
  padding-left: $base-line-height;
}
.margin {
  margin: $base-line-height;
}
.margin-top {
  margin-top: $base-line-height;
}
.margin-bottom {
  margin-bottom: $base-line-height;
}
.margin-left {
  margin-left: $base-line-height;
}
.margin-bottom-none {
  margin-bottom:0px !important;
}
.table {
  display: table;
  width: 100%;
  height: 100vh;
}
.table-cell {
  display: table-cell;
  width: 100%;
  height: 100vh;
  vertical-align: middle
}
.block {
  display: block;
}

/*
* Style Color
*/

.theme {
  color: $theme-color;
}

.tint {
  color: $theme-tint;
}

.pink {
  color: $pink;
}

.white {
  color: #fff !important;
}

.black {
  color: #000 !important;
}

.gray-1 {
  color: $gray-1
}

.gray-2 {
  color: $gray-2
}

.gray-3 {
  color: $gray-3
}

.gray-4 {
  color: $gray-4
}

.gray-5 {
  color: $gray-5
}

.gray-6 {
  color: $gray-6
}

.gray-7 {
  color: $gray-7
}
.green {
  color: $theme-tint;
}

.lighter {
  font-weight: lighter !important;
}

/*
* Float
*/

.floatright, .float-right {
  margin: 0 0 $base-line-height $base-line-height;
  margin-top: $base-line-height / 2;
  float: right;
  clear: both;
  box-sizing: border-box;
  display: block;
  img {
    display: block;
  }
}

.floatleft, .float-left {
  float: left;
  margin: 0 $base-line-height $base-line-height 0;
  margin-top: $base-line-height / 2;
  clear: both;
  box-sizing: border-box;
  display: block;
  img {
    display: block;
  }
}

.floatleft:after, .float-left:after  {
  content: "";
  display: table;
  clear: both;
}

.floatright:after, .float-right:after  {
  content: "";
  display: table;
  clear: both;
}


/*
* Style Color
*/

.bold {
  font-weight: bold;
}
.center {
  text-align: center !important;
}

.underline-text {
  text-decoration: underline;
}

.uppercase {
  text-transform: uppercase;
}