<footer id="contact" class="container">
    <div class="one-column">
        <div class="table">
            <div class="table-cell">
                <div class="footer-contact-us">
                    <h1 class="block white margin-bottom">CONTACT JUNIPER STUDIO</h1>
                    <div>Jeff Petersen</br>
                        <strong>913 461 4672</strong><br/>jeff@juniperstudio.com
                    </div>
                    <div><a href="little-green-notebook.html">Juniper Studio's Little Green Notebook</a></div>
                    <br/>
                    &copy; 2018 Juniper Stuido
                </div>
                <div class="hidden">
                    <a href="http://juniperstudio.com/MF/index.html">Morgenthal Frederics Site Design</a><a
                        href="http://juniperstudio.com/bradleymaterewicz.com/index.html">bradley Materewicz Site
                    Design</a><a href="http://juniperstudio.com/toywatch/jelly_shop.html">ToyWatch Site Design</a>
                    Juniper Studio is a Phoenix-based design + build firm by Jeff Petersen Our mission is to create thoughtful, modern, personal and functional
                    We specialize in the design + build process, focused on the East Valley of Phoenix specifically. If you live in Mesa, Gilbert or Chandler, we would love to help you purchase, design and renovate the home of your dreams. We also offer an option where you can finance the entire process, from finding the perfect fixer upper down to installing the last piece of furniture!
                </div>
            </div>
        </div>
    </div>
</footer>