<footer id="contact" class="container">
    <div class="one-column">
        <div class="table">
            <div class="table-cell">
                <div class="footer-contact-us">
                    <h1 class="block white margin-bottom">CONTACT JUNIPER STUDIO</h1>
                    <div>Jeff Petersen</br>
                        <strong>913 461 4672</strong><br/>jeff@juniperstudio.com
                    </div>
                    <br/>
                    Kansas City Missouri, Overland Park, Olathe, Spring Hill, Johnson County
                    Kansas
                </div>
                <div class="hidden">
                    <a href="http://juniperstudio.com/MF/index.html">Morgenthal Frederics Site Design</a><a
                        href="http://juniperstudio.com/bradleymaterewicz.com/index.html">bradley Materewicz Site
                    Design</a><a href="http://juniperstudio.com/toywatch/jelly_shop.html">ToyWatch Site Design</a>
                </div>
            </div>
        </div>
    </div>
</footer>