<head>
    <!-- meta -->
    <meta charset="utf-8">
    <title>JUNIPER STUDIO + {{page.title}}</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <link rel="apple-touch-icon image_src" href="/apple-icon.png">
    <meta name="description" content="Contact Juniper-Studio If you're in need of design management, brand building, website development or advertising,">
    <meta name="author" content="Juniper Studio Design Managment | Developemnt">
    <link rel="canonical" href="http://juniperstudio.com/" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Juniper Studio Design" />
    <meta property="og:url" content="http://juniperstudio.com/" />
    <meta property="og:site_name" content="Juniper Studio" />

    <!-- mobile -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- font -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic)'
          rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i)' rel='stylesheet' type='text/css'>
    <!-- css -->
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/juniperstudio.css">
    <link rel="stylesheet" href="/css/styleguide.css">

    <!-- fav -->
    <link rel="icon" type="image/png" href="images/favicon.png">

</head>