<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Furniture Design</h2>
                    <h3 class="section-subheading text-muted">One of a kind furniture pieces.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">One of a Kind</h4>
                    <p class="text-muted">One of a kind furniture pieces.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Contract Furnishings</h4>
                    <p class="text-muted">Dont like what you see but have an idea of what you would like. Contact us to design and build one of a kind furniture for you.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Furniture Restoration</h4>
                    <p class="text-muted">Have a piece you need refinished or repaired. Contact me for a evaluation.</p>
                </div>
            </div>
        </div>
    </section>