<nav class="container">
    <section class="one-column">
        <ul class="menu content">
            <li><svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg><a href="/juniper_studio_design_blog.html" class="white"> Blog</a></li>
            <li><a href="#contact" class="white scroll">
                <svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg>  Contact Us</a>
            </li>
            <li><a href="/juniper_studio_drupal_migration_web_development_services.html" class="white"><svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg> Web Development Services</a></li>

        </ul>
    </section>
</nav>