<nav class="container">
    <section class="one-column">
        <ul class="menu content">
            <li><a href="/juniper_studio_design_blog.html" class="white"><svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg> Blog</a></li>
            <li><a href="#contact" class="white scroll">
                <svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg>  Contact Us</a>
            </li>
            <li><a href="/juniper_studio_drupal_migration_services.html" class="white"><svg width="10" height="10">
                <circle cx="6" cy="6" r="3" fill="gray" />
            </svg> Drupal Services & Migrations</a></li>

        </ul>
    </section>
</nav>